
body{
    background-color: rgb(31, 27, 27);
}

#heading{
    color: white;
    text-align: center;
}

#primary-image{
    height: 300px;
    width: 300px;
    object-fit: cover;
    display: block;
    margin: 30px auto;
    border: 2px solid rgb(206, 176, 176);
    cursor: pointer;
    border-radius: 20px;
}

.image-container{
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.img{
    margin: 20px 20px;
    height: 100px;
    width: 100px;
    align-items: center;
    border: 2px solid  rgb(11, 8, 8) ;
    border-radius: 10px;
    cursor: pointer;
}

.img:hover{
    border: 2px solid rgb(123, 115, 115)
}
